.medida_mm{
    border: solid blue 2px;
    height: 50mm;
    width: 50mm;

    margin-top: 20px;
}

.medida_cm{
    border: solid blue 2px;
    height: 5cm;
    width: 5cm;

    margin-top: 20px;
}

.medida_in{
    border: solid blue 2px;
    height: 1.9685in;
    width: 1.9685in;

    margin-top: 20px;
}

.medida_pt{
    border: solid blue 2px;
    height: 141.73pt;
    width: 141.73pt;

    margin-top: 20px;
}

.medida_pc{
    border: solid blue 2px;
    height: 11.811pc;
    width: 11.811pc;

    margin-top: 20px;
}

.medida_px{
    border: solid blue 2px;
    height: 189px;
    width: 189px;

    margin-top: 20px;
}

.caja{
    border: solid blue 2px;
    width: 500px;
    font-size: 20px;
    margin-top: 20px
}

.caja_h3{
    font-size: 1.5em;
}

.caja_p{
    font-size: 2em;
}

.caja_h3_ex{
    font-size: 1.5ex;
}

.caja_p_ex{
    font-size: 2ex;
}

.caja_h3_rem{
    font-size: 1.5rem;
}

.caja_p_rem{
    font-size: 2rem;
}

.caja_3{
    border: solid blue 2px;
    width: 70%;
    font-size: 20px;
    margin-top: 20px
}

.caja_4{
    border: solid blue 2px;
    width: 50%;
    font-size: 20px;
    margin-top: 20px
}

.caja_5{
    border: solid blue 2px;
    width: 30%;
    font-size: 20px;
    margin-top: 20px
}

body{
    font-family:Tahoma;
    text-align:center;
    background:black;
    color:white;
}